include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include boya_integration *.css
recursive-include boya_integration *.csv
recursive-include boya_integration *.html
recursive-include boya_integration *.ico
recursive-include boya_integration *.js
recursive-include boya_integration *.json
recursive-include boya_integration *.md
recursive-include boya_integration *.png
recursive-include boya_integration *.py
recursive-include boya_integration *.svg
recursive-include boya_integration *.txt
recursive-exclude boya_integration *.pyc